@import "./variables.scss";

.home-page-main-wrapper {
  position: relative;
  margin-top: -116px;
  z-index: 0;
  height: 799px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .main-bg-image {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, 0);
    height: 100%;
  }
  .main-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: $bold;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: $basic-white;
    margin-top: 60px;
  }
  .main-go-to-bottom {
    padding-bottom: 30px;
  }
}